body {
    background-color: #141414;

}

header {
  background-color: #141414;
  color: #E5E5E5;
  padding: 15px 40px;
 
}

header h1 {
  color: #E50914;
  letter-spacing: 2px;
}

nav a {
  color: #B3B3B3;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s;
}

nav a:hover {
  color: #FFFFFF;
}


nav ul{
    display: flex;
    list-style: none;
    gap: 24px;

}
nav li {
    text-decoration: none;
    font-size: 1rem;
}
.nav-toggle {     /*enleve le burger en grand ecran  */
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
@media (max-width: 768px) {   /* a partir de 768px le burger s'affiche en block*/
  .nav-toggle {
    display: block;
  }
}
@media (max-width: 768px) {
  nav ul{
    display: none;
    flex-direction: column;
   background: rgb(5, 4, 31);
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    text-align: center;
    width: 30%;
  }
}
nav ul.active {
  display: flex;
}

@media (max-width: 768px) {
  nav ul li a {
    color: whitesmoke;
    text-decoration: none;
  }
}
.menu-checkbox {
  display: none;
}

#menu-toggle:checked + .nav-toggle + nav ul {
  display: flex;
}


#abonnements {
  background-color: #141414;
  padding: 50px 0;
  gap: 40px;
}

.abocard{
  width: 25%;
 background-color: #3e105e;
  color: #E5E5E5;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  transition: transform 0.3s, box-shadow 0.3s;
}

#abonnements h2{
  background: rgb(200, 197, 197);
  text-align: center;
  border-radius: 20px;
}
.abocard h3 {
  text-align: center;
}
#abonnements form{
  
  color: whitesmoke;
}


h2 {
    color: rgb(0, 0, 0);
    font-size: 1.8rem;
    margin-left: 25px;
    background: #E50914; 
    text-align: center;
}


section {
    display: flex;
     width: 100%;
     height: auto;
    overflow-x: auto;
    gap : 80px;
  background-color: #141414;
  
    padding: 10px;
}


.card {
    display: block;
    height: auto;
    width: 340px;
    gap: 50px;
    background: rgb(225, 212, 212);
    border: 2px solid whitesmoke;

    
}

.card:hover {
  transform: scale(1.18);
}

.card img {
    width: 320px;
    height: auto;
}


.card h3 {
    display: block;
    text-align: center;
    font-size: x-large;
}


footer {
   background-color: #141414;
  color: #E5E5E5;
  display: flex;
  justify-content: center;
}

footer li {
    font-size: 1.2rem;
    margin: 20px;
}
footer a {
  color: whitesmoke;
}

.galerie img{
  width: 180px;
  height: auto;
}

.cardfilm{
  width: 100%;
  background: rgb(248, 248, 248);
  
}
.cardfilm h2{
  color: black;
  border: none;
}
.cardfilm p{
  font-size: 1.2rem;
}
.cardmedias {
  display: flex;
  gap: 10%;
  align-items: center;
  justify-content: center;
}
.cardmedias img{
  height: 500px;
}

.galeriefilm img {
  width: 180px;
}


.close {
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 20px;
  text-decoration: none;
  background: rgb(0, 0, 0);
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
}



/* --- Fenêtre modale (popup) --- */


.overlay {
  position:static;
  top: 0; left: 0; right: 0; bottom: 0;
    background: rgb(223, 212, 212);
  display: none;
  align-items: center;
  justify-content: center;
}


.overlay:target {
  display: flex;
}

.submit {
  color: whitesmoke;
  background: black;
  border: #900;
}


.cardMedia{
  background: rgb(5, 5, 5);
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 70% 30%;
 
}
.cardMedia img {
  height: 50%;
  margin-left: 50px;
}

.cardMedia h3{
  font-size: 2rem;
    margin-left: 20px;
    color: whitesmoke;
    border: 1px solid red;
    margin-right: 50px;

}
.cardMedia p{
  font-size: 1.2rem;
  margin-left: 20px;
  background: whitesmoke;
  margin-right: 50px;

}


.cardsConatiner {
  display: flex;
  overflow-x: hidden;
  gap: 12px;
}
.cardImage{
  width :300px;
}

.cardInfo{
  color: black;
}

.slider-btn{

background: greenyellow;
}
.btnGauche{
  border: 1px solid red;
}




.cardResume{
  background: #900;
}

.sliderContainer{
  display: flex;
  overflow-x: auto;
}
.slider-wrapper{
  display: flex;
  overflow-x: auto;
}

.resumer{

  overflow: hidden;              /* Cache le texte qui dépasse */
  text-overflow: ellipsis;       /* Ajoute "..." à la fin */
  display: -webkit-box;          /* Nécessaire pour le line clamp */
  -webkit-line-clamp: 3;         /* Limite à 3 lignes */
  -webkit-box-orient: vertical;  /* Orientation du bloc */
  
   line-clamp: 3;             /* Propriété standard (nouvelle syntaxe) */
}
